    
<div class="container">

   <table class="table mt-5  p-5 border border-1  rounded table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Password</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Gender</th>
        
          
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of userList">
           
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.surname}}</td>
            <td>{{item.password}}</td>
         
            <td>{{item.email}}</td>
    
            <td>{{item.gender}}</td>
          </tr>
        
        </tbody>
      </table>
   
</div>
  

    
    